{deps_dir,"deps"}.
{erl_first_files, ["emqttd_acl_mod.erl","gen_server2.erl"]}.
{erl_opts,[nowarn_deprecated_function,nowarn_export_all]}.
{deps, [
    {gproc,".*",{git,"git://github.com/voxoz/gproc",{tag,"master"}}},
    {kvs,".*",{git,"git://github.com/synrc/kvs",{tag,"6.4"}}},
    {lager,".*",{git,"git://github.com/voxoz/lager",{tag,"master"}}},
    {emqttc,".*", {git, "git://github.com/voxoz/emqttc",{tag,"master"}}},
    {mochiweb,".*",{git,"git://github.com/voxoz/mochiweb",{tag,"master"}}},
    {esockd,".*",{git,"git://github.com/voxoz/esockd",{tag,"master"}}}
]}.

