{deps_dir,"deps"}.
{deps, [
    {gproc,".*",{git,"git://github.com/voxoz/gproc","0.6.1"}},
    {kvs,".*",{git,"git://github.com/synrc/kvs",[]}},
    {lager,".*",{git,"git://github.com/voxoz/lager",[]}},
    {pbkdf2,".*",{git,"git://github.com/voxoz/pbkdf2",[]}},
    {emqttc,".*", {git, "git://github.com/voxoz/emqttc",[]}},
    {mochiweb,".*",{git,"git://github.com/voxoz/mochiweb",[]}},
    {esockd,".*",{git,"git://github.com/voxoz/esockd",[]}}
]}.

