{deps_dir,"deps"}.
{erl_first_files, ["emqttd_acl_mod.erl","gen_server2.erl"]}.
{deps, [
    {gproc,".*",{git,"git://github.com/voxoz/gproc",[]}},
    {kvs,".*",{git,"git://github.com/synrc/kvs",[]}},
    {lager,".*",{git,"git://github.com/voxoz/lager",[]}},
    {pbkdf2,".*",{git,"git://github.com/voxoz/pbkdf2",[]}},
    {emqttc,".*", {git, "git://github.com/voxoz/emqttc",[]}},
    {mochiweb,".*",{git,"git://github.com/voxoz/mochiweb",[]}},
    {esockd,".*",{git,"git://github.com/voxoz/esockd",[]}}
]}.

